<div class="container">
  <div class="flex-container" fxLayout="row" fxFlexAlign="center" *ngIf="weatherMainDescription$ | async" >
    <ng-container *ngFor="let number of [0,1,2,3,4]" class="ng-container">
        <app-weather-card
          [weatherMainDescription]="weatherMainDescription$ | async"
          [weatherDescription]="weatherDescription$ | async"
          [weatherTemp]="weatherTemp$ | async"
          [weatherTempMin]="weatherTempMin$ | async"
          [weatherTempMax]="weatherTempMax$ | async"
          [weatherLocation]="weatherLocation$ | async">
        </app-weather-card>
    </ng-container>
  </div>
</div>

<!-- <div>Weather: {{ weatherMainDescription$ | async }}</div> -->
