<mat-card class="weather-card">
    <mat-card-header class="weather-card-header">
      <mat-card-title>Today's Forecast</mat-card-title>
    </mat-card-header>
    <img class="weather-card-img" mat-card-image src="assets/img/rain.png" />
    <mat-card-content class="weather-description">
      <div>Description: {{ weatherMainDescription }}</div>
      <div>Temperature: 38 F</div>
      <div>Temperature High: 41 F</div>
      <div>Temperature Low: 36 F</div>
      <div>Location: Kosciuosko</div>
    </mat-card-content>
  </mat-card>