.weather-card {
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.weather-card-header {
    background-color: #1976d2;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 1em;
}

.weather-card-img {
    width: 80%;
}

.weather-card-content {
    color: black;
    font-size: 1em;
}
