.weather-card {
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 1em;
}
  
.weather-card-header {
    background-color: #1976d2;
    width: 100%;
    margin-bottom: 1em;
    color: #ffffff;
}

.weather-card-img {
    width: 80%;
}

.weather-description {
    color: black;
}