<mat-card class="weather-card">
    <mat-card-header class="weather-card-header">
      <mat-card-title>Today's Forecast</mat-card-title>
    </mat-card-header>
    <img class="weather-card-img" mat-card-image src="assets/img/rain.png" />
    <mat-card-content class="weather-description">
      <div>Description: {{ weatherMainDescription }}</div>
      <div>Temperature: {{ convertToFarenheit(weatherTemp) }} &#8457;</div>
      <div>Temperature High: {{ convertToFarenheit(weatherTempMax) }} &#8457;</div>
      <div>Temperature Low: {{ convertToFarenheit(weatherTempMin) }} &#8457;</div>
      <div>Location: {{ weatherLocation }} </div>
    </mat-card-content>
  </mat-card>
