@import '~@angular/material/theming';
@include mat-core();

$weatherApp-primary: mat-palette($mat-blue);
$weatherApp-accent: mat-palette($mat-deep-purple, A200, A100, A400);
$weatherApp-warn: mat-palette($mat-red);
$weatherApp-theme: mat-light-theme($weatherApp-primary, $weatherApp-accent, $weatherApp-warn);

@include angular-material-theme($weatherApp-theme);


* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
  }

  h1, h2 {
    font-weight: lighter;
  }

  html {
    background: url(assets/img/weather_background.jpg);
  }

  // /* Hyperlink */

  // a {
  //   cursor: pointer;
  //   color: #1976d2;
  //   text-decoration: none;
  // }

  // a:hover {
  //   opacity: 0.8;
  // }

  // /* Input */

  // input {
  //   font-size: 14px;
  //   border-radius: 2px;
  //   padding: 8px;
  //   margin-bottom: 16px;
  //   border: 1px solid #BDBDBD;
  // }

  // label {
  //   font-size: 12px;
  //   font-weight: bold;
  //   margin-bottom: 4px;
  //   display: block;
  //   text-transform: uppercase;
  // }
